<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<div class="greetedName">
    <div class="column">
        <h1>Counter List</h1>


        <p> Hi {{names}} you have greeted {{greetedNames.counter}} time(s).</p>

        <div class="button">

            <a href="/greeted" class="counter-btn button-styles">Back</a>
            <a href="/" class="counter-btn button-styles">Home</a>

        </div>

    </div>
</div>