<div class="count greetedName">
    <div class="row">
        <h1>Greeted-names</h1>

        <table>
            {{#each list}}
            <tr>

                <td> <a href="/counter/{{name}}">{{name}}</a> </td>
            </tr>
            {{/each}}


        </table>

    </div>


    <div class=" button">
        <a href="/" class="space-btn button-styles">Back</a>
    </div>

</div>